.nested-links a,
.nested-links a:link,
.nested-links a:visited {
  color: hsla(239, 72%, 58%, 1);
  text-decoration: none;
}

.nested-links a:hover {
  color: hsla(239, 82%, 56%, 1);
  text-decoration: underline;
}
