<!doctype html>

<html>
  <body>
    <h1>{{ program.title }}</h1>

    <ol>
      {% for broadcast in broadcasts %}
      <li>{{broadcast.published}}: <a href="{{broadcast.url}}">{{broadcast.title}}</a></li>
      {% endfor %}
    </ol>
    
  </body>
</html>
