<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Radio24syv Archive &ndash; {% block "title" %}Where are we?{% endblock %}</title>
        <style>
            html {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                font-size: 20px;
                line-height: 1.5em;
                background: #fff;
                color: #000;
            }

            input {
                font-size: inherit;
                color: inherit;
            }
            input[type=submit] {
                background: #ddd;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Overview</a>
                    </li>
                    <li>
                        <a href="/programs/">Programs</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block "content" %}<h1>Something missing here?</h1>{% endblock %}
        <footer>
            <p>24syv-archive (<a href="https://gitlab.com/gorgonzola/24syv-archive">source code</a>)
        </footer>
    </body>
</html>
