{% extends "base.html" %}
{% block "title" %}{{ program.name }}{% endblock %}
{% block "content" %}
    <h1>{{ program.name }} ({{ program.broadcasts.all|length }} broadcasts)</h1>
    <ul>
        {% for b in program.broadcasts.all %}
            <li>
                {{ b.published_at }}
                <a href="/programs/{{ program.slug }}{{ b.slug }}/">{{ b.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
