{% block "title" %}Get started{% endblock %}
{% block "content" %}
    <section>
        <h1>Get started</h1>
        <form method="post" action="/programs/">
            <p>
                First things first: Before we're able to start downloading episodes, we
                need to fetch a list of all Radio24syv programs.
                <input type="submit" value="Go ahead!" />
                {% csrf_token %}
            </p>
        </form>
    </section>
{% endblock %}
