{% extends "base.html" %}
{% block "title" %}Programs{% endblock %}
{% block "content" %}
    {% if programs %}
        <h1>{{ programs|length }} programs</h1>
        <ul>
            {% for p in programs %}
                <li>
                    <a href="/programs/{{ p.slug }}/">{{ p.name }}</a> ({{ p.broadcasts.all|length}} broadcasts)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% include "programs/get-started.html" %}
{% endif %}
{% endblock %}
