{% extends "base.html" %}
{% if programs|length %}
    {% include "programs/get-started.html" %}
{% else %}
    {% block "title" %}Overview{% endblock %}
    {% block "content" %}
        <h1>Overview</h1>
        <p>Your archive includes:</p>
        <ul>
            <li>
                <a href="/programs/">{{ programs }} programs</a>
            </li>
            <li>
                {{ broadcasts }} broadcasts
            </li>
            <li>
                {{ media }} media files ({{ media_pct }}%)
            </li>
            <li>
                {{ missing_media }} missing media files ({{ missing_media_pct }}%)
            </li>
        </ul>
    {% endblock %}
{% endif %}
